name: Daily Auto Commit

on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Update last_commit.txt
        run: |
          echo "Last automated commit: $(date)" > last_commit.txt

      - name: Commit and Push
        run: |
          git config --global user.name "thebluemoondev"
          git config --global user.email "nguyennhuthanh03042006@gmail.com"
          git add last_commit.txt
          git commit --allow-empty -m "Commit này được tạo ra nhằm mục đích giữ chuỗi ^.^"
          git push
